{% extends "layout.html" %}
{% block body %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('{{ url_for('static', filename='assets/img/about-bg.jpg') }}  ')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>kp</h1>
                            <span class="subheading">{{params['tagline_name']}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <!-- Post preview-->

        {% for post in posts %}
        <li><a href="/post/{{post.slug}}"></a>

                    <div class="post-preview">
                        <a href="/post/{{post.slug}}">
                            <h2 class="post-title">{{ post.title }}</h2>
                            <h3 class="post-subtitle">{{post.tagline}}</h3>
                        </a>
                        <p class="post-meta">
                            Posted by
                            <a href="#!">Admin</a>
                            on {{post.date}}
                        </p>
                    </div>
            {{post.content[0:150]}}...
        </li>
                    {% endfor %}



                    <!-- Divider-->
                    <div class="clearfix">

                    <!-- Pager-->
                        <a class="btn btn-primary float-left" href="">&larr; Previous </a>
                        <a class="btn btn-primary float-right" href="">Next &rarr;</a>
                </div>
            </div>
        </div>
        </div>
{% endblock %}